<div class="bg-white px-5 py-4 flex items-center justify-between rounded-[20px] border border-[#f0f2f5] shadow-sm hover:border-[#e0e7ed] hover:shadow transition-all">
    <div class="flex items-center gap-3">
        <div class="rounded-[20px] w-[100px] h-[100px] flex items-center p-1 border border-[#edf2f7]">
            <img src="images/produtos/notebook.png" alt="imagem do produto">
        </div>
        <div>
            <h2 class="font-bold text-lg">Mouse Sem Fio</h2>
            <p class="text-[#0076D2] font-bold text-lg">R$ 189,90</p>
        </div>
    </div>

    <div class="flex items-center gap-7">
        <div class="flex items-center">
            <button class="group cursor-pointer rounded-full p-1 flex items-center justify-center hover:bg-[#E2E8F0] transition-all">
                <img src="icons/icone-reduzir-preto.png" alt="ícone de remover" class="w-6 group-hover:hidden">
                <img src="icons/icone-reduzir-azul.png" alt="ícone de remover" class="w-6 hidden group-hover:block">
            </button>

            <span>2</span>

            <button class="group cursor-pointer rounded-full p-1 flex items-center justify-center hover:bg-[#E2E8F0] transition-all">
                <img src="icons/icone-adicionar-preto.png" alt="ícone de remover" class="w-6 group-hover:hidden">
                <img src="icons/icone-adicionar-azul.png" alt="ícone de remover" class="w-6 hidden group-hover:block">
            </button>
        </div>

        <h2 class="font-bold text-2xl">R$ 599,80</h2>

        <button class="group cursor-pointer rounded-full p-1 flex items-center justify-center hover:bg-[#fef2f2] transition-all">
            <img src="icons/icone-remover-cinza.png" alt="ícone de remover" class="w-8 group-hover:hidden">
            <img src="icons/icone-remover-vermelho.png" alt="ícone de remover" class="w-8 hidden group-hover:block">
        </button>
    </div>
</div>