<header class="bg-white flex justify-between items-center p-7">
    <button class="cursor-pointer">
        <img src="images/logo-techmarket.png" alt="Logo TechMarket" class="w-32.5">
    </button>

    <div class="flex items-center">
        <input 
            type="text" 
            placeholder="O que você procura? (ex: notebook, celular...)"
            class="border border-gray-200 h-10 px-3 rounded-l-lg outline-none w-125"
        >
        <button class="bg-[#0076D2] px-3 h-10 rounded-r-lg flex items-center justify-center cursor-pointer hover:bg-[#002158] transition-all duration-300">
            <img src="icons/icone-pesquisar-branco.png" alt="ícone de pesquisa" class="w-6">
        </button>
    </div>

    <div class="flex items-center gap-7">
        <button class="flex flex-col items-center cursor-pointer text-sm hover:text-[#0076D2] transition-all duration-300">
            <img src="icons/icone-favorito-azul.png" alt="ícone de favorito" class="w-7">
            Favoritos
        </button>

        <button class="flex flex-col items-center cursor-pointer text-sm hover:text-[#0076D2] transition-all duration-300">
            <img src="icons/icone-carrinho-azul.png" alt="ícone de carrinho" class="w-7">
            Carrinho
        </button>
    </div>
</header>