<div class="bg-white rounded-[10px] w-full border border-[#E9ECEF] transition-all duration-200 hover:-translate-y-0.5 hover:border-[#CBD5E1] flex flex-col h-full">
    <div class="border-b border-[#E9ECEF] h-48 flex items-center justify-center">
        @if (produto.imagemId) {
            <img src="http://localhost:8080/techmarket-product-service/produtos/imagem/{{ produto.imagemId }}" alt="imagem do produto" class="max-h-45 object-contain">
        } @else {
            <div class="w-20 h-20 rounded-full bg-white border-2 border-[#0076D2] flex items-center justify-center">
                <span class="text-[#0076D2] text-3xl font-bold">?</span>
            </div>
        }
    </div>

    <div class="p-3 flex flex-col gap-2 flex-1">
        <div class="flex justify-between items-center">
            <p class="text-[12px] font-bold text-[#0076D2]">{{ produto.categoria }}</p>

            <button class="cursor-pointer" (click)="toggleFavorito()">
                <img 
                    [src]="estaFavoritado ? 'icons/icone-favorito-azul-preenchido.png' : 'icons/icone-favorito-azul.png'" 
                    alt="ícone de favoritar" 
                    class="w-7"
                >
            </button>
        </div>

        <div>
            <h2 class="text-[18px] font-medium">{{ produto.nome }}</h2>
            <p class="text-sm text-gray-500">{{ produto.marca }}</p>
        </div>

        <h3 class="text-[20px] font-bold text-[#002158]">{{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}</h3>

        <button [routerLink]="['/detalhes-produto', produto.id]" class="mt-auto cursor-pointer text-[14px] font-bold bg-[#0076D2] text-white rounded-[10px] w-full py-2 hover:bg-[#005fa8] transition-all duration-300">
            Ver Produto
        </button>
    </div>
</div>
