<div class="bg-white rounded-[10px] w-70 border border-[#E9ECEF] transition-all duration-200 hover:-translate-y-0.5 hover:border-[#CBD5E1]">
    <div class="border-b border-[#E9ECEF] h-48 flex items-center justify-center">
        <img src="images/imagem-teste-produto.png" alt="imagem do produto" class="max-h-40 object-contain">
    </div>

    <div class="p-3 flex flex-col gap-2">
        <p class="text-[12px] font-bold text-[#0076D2]">NOTEBOOKS</p>

        <div>
            <h2 class="text-[18px] font-medium">Notebook Gamer 5</h2>
            <p class="text-sm text-gray-500">HyperX</p>
        </div>

        <h3 class="text-[20px] font-bold text-[#002158]">R$ 4499,90</h3>

        <button class="cursor-pointer text-[14px] font-bold bg-[#0076D2] text-white rounded-[10px] w-full py-2 hover:bg-[#002158] transition-all duration-300">
            Ver Produto
        </button>
    </div>
</div>
