<main class="bg-[#F5F7FC] p-7 min-h-screen">
    <div class="mb-6">
        <nav class="flex items-center gap-2 text-sm text-gray-500">
            <button routerLink="/" class="cursor-pointer hover:text-[#0076D2] transition-colors">Home</button>
            <span>/</span>
            <span class="text-[#0076D2] font-medium">Carrinho</span>
        </nav>
    </div>

    <div class="bg-white rounded-lg shadow-sm overflow-hidden p-5">
        <div class="flex items-center gap-2 border-b-2 border-[#eef2f6] pb-3">
            <img src="icons/icone-carrinho-azul.png" alt="ícone de fogo" class="w-9">
            <h1 class="font-bold text-2xl">Seu Carrinho</h1>
        </div>

        <div class="py-6 flex flex-col gap-4">
            @if (listaProdutosDoCarrinho.length >= 1) {
                @for (item of listaProdutosDoCarrinho; track $index) {
                    <app-card-produto-carrinho 
                        [produto]="item.produto" 
                        [quantidade]="item.quantidade"
                        (aumentar)="aumentarQuantidade($event)"
                        (diminuir)="diminuirQuantidade($event)"
                        (remover)="removerProduto($event)">

                    </app-card-produto-carrinho>
                }
            } @else {
                <p class="w-full text-center text-gray-500 text-sm py-10">Nenhum produto no carrinho.</p>
            }
            
        </div>

        <div class="border-t-2 border-[#eef2f6] pt-3 flex items-center justify-between">
            <div class="flex gap-3 items-baseline">
                <p class="text-[#334155] font-bold text-[1.2rem]">Total:</p>
                <p class="text-[#0076D2] font-bold text-[2rem]">{{ precoTotalCarrinho | currency:'BRL':'symbol':'1.2-2' }}</p>
            </div>

            <button (click)="revisarPedido()" class="bg-[#0076D2] flex items-center gap-1 text-white font-bold text-[1rem] rounded-[15px] px-7 py-3 cursor-pointer hover:bg-[#005fa8] transition-all">
                Revisar pedido
                <img src="icons/icone-proximo-branco.png" alt="ícone de próximo" class="w-6">
            </button>
        </div>
    </div>
</main>

<!-- Modal -->
@if (modalCarrinhoVazio) {
    <div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">

        <div class="bg-white rounded-2xl p-8 w-[420px] shadow-lg flex flex-col items-center gap-6">
            <div>
               <img src="icons/icone-alerta.png" class="w-16">
            </div>

            <h2 class="text-2xl font-bold text-[#2C3E66]">
                Opa! Nada por aqui ainda
            </h2>

            <p class="text-gray-500 text-center">
                Seu carrinho está vazio. Explore os produtos e adicione itens para continuar.
            </p>

            <button
                (click)="fecharModalCarrinhoVazio()"
                class="bg-[#0076D2] text-white cursor-pointer px-6 py-3 rounded-lg font-bold hover:bg-[#005fa8] transition">
                Ver produtos
            </button>
        </div>

    </div>
}