<main class="bg-[#F5F7FC] p-7 flex flex-col gap-14 min-h-screen">
    <section>

        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2 border-l-4 border-[#0076D2] pl-3">
                <img src="icons/icone-destaque.png" alt="ícone de fogo" class="w-8">
                <h1 class="font-bold text-2xl">Produto em Destaque</h1>
            </div>

            <button [routerLink]="['/produtos']" [queryParams]="{ tipo: 'destaque' }" class="group flex items-center gap-0.5 text-sm text-[#0076D2] cursor-pointer">
                <span class="group-hover:underline">Ver Todos</span>
                <img src="icons/icone-seta-direita.png" class="w-3 group-hover:translate-x-1 transition-all duration-200">
            </button>
        </div>

        <div class="pt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            @if (produtos.length !== 0) {
                @for (produto of produtosMaisVendidos; track $index) {
                    <app-card-produto [produto]="produto"></app-card-produto>
                }
            } @else {
                <p class="col-span-full text-center text-gray-500 text-sm py-10">Nenhum produto em destaque no momento.</p>
            }
        </div>
    </section>

    <section>

        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2 border-l-4 border-[#0076D2] pl-3">
                <img src="icons/icone-promocao.png" alt="ícone de fogo" class="w-8">
                <h1 class="font-bold text-2xl">Promoções Especiais</h1>
            </div>

            <button [routerLink]="['/produtos']" [queryParams]="{ tipo: 'promocao' }" class="group flex items-center gap-0.5 text-sm text-[#0076D2] cursor-pointer">
                <span class="group-hover:underline">Ver Todos</span>
                <img src="icons/icone-seta-direita.png" class="w-3 group-hover:translate-x-1 transition-all duration-200">
            </button>
        </div>

        <div class="pt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            @if (produtos.length !== 0) {
                @for (produto of produtos; track $index) {
                    <app-card-produto [produto]="produto"></app-card-produto>
                }
            } @else {
                <p class="col-span-full text-center text-gray-500 text-sm py-10">Nenhum produto em promoção no momento.</p>
            }
        </div>
    </section>
</main>