<footer class="bg-[#002158] px-7 pt-10 pb-7 flex flex-col gap-5">
    <div class="flex justify-between items-start">
        <div class="flex flex-col gap-3">
            <h3 class="text-white font-bold">TechMarket</h3>
            <ul class="flex flex-col gap-3">
                <li><button class="text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">Sobre nós</button></li>
                <li><button class="text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">Trabalhe conosco</button></li>
            </ul>
        </div>
        <div class="flex flex-col gap-3">
            <h3 class="text-white font-bold">Institucional</h3>
            <ul class="flex flex-col gap-3">
                <li><button class="text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">Central de atendimento</button></li>
                <li><button class="text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">Política de troca</button></li>
                <li><button class="text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">Garantia estendida</button></li>
            </ul>
        </div>
        <div class="flex flex-col gap-3">
            <h3 class="text-white font-bold">Formas de pagamento</h3>
            <ul class="flex flex-col gap-3">
                <li><button class="text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">Pix, Cartões, Boleto</button></li>
            </ul>
        </div>
        <div class="flex flex-col gap-3">
            <h3 class="text-white font-bold">Redes sociais</h3>
            <ul class="flex flex-col gap-3">
                <li>
                    <a href="https://www.linkedin.com/in/felipesora/" target="_blank" class="group flex items-center gap-1 text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">
                        <img src="icons/icone-linkedin-azul.png" alt="ícone linkedin" class="w-6 group-hover:hidden">
                        <img src="icons/icone-linkedin-branco.png" alt="ícone linkedin" class="w-6 hidden group-hover:block">
                        Linkedin
                    </a>
                </li>
                <li>
                    <a href="https://github.com/felipesora" target="_blank" class="group flex items-center gap-1 text-[#A4B3CF] text-[14px] cursor-pointer hover:text-white">
                        <img src="icons/icone-github-azul.png" alt="ícone linkedin" class="w-6 group-hover:hidden">
                        <img src="icons/icone-github-branco.png" alt="ícone linkedin" class="w-6 hidden group-hover:block">
                        Github
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bg-[#1E3A5F] h-[0.5px] w-full"></div>

    <p class="text-[#A4B3CF] text-[14px] text-center">TechMarket © 2026 - Todos os direitos reservados.</p>
</footer>