<main class="bg-[#F5F7FC] p-7 flex flex-col gap-14 min-h-screen">
    <section>
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2 border-l-4 border-[#0076D2] pl-3">
                <img src="icons/icone-favorito-azul-preenchido.png" alt="ícone de favorito" class="w-8">
                <h1 class="font-bold text-2xl">Produtos Favoritados</h1>
            </div>
        </div>

        <div class="pt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            @if (produtosFavoritados.length !== 0) {
                @for (produto of produtosFavoritados; track $index) {
                    <app-card-produto [produto]="produto"></app-card-produto>
                }
            } @else {
                <p class="w-full text-center text-gray-500 text-sm py-10">Nenhum produto favoritado.</p>
            }
        </div>
    </section>
</main>