@if (carregando) {
    <app-carregamento-component />
}

<main class="bg-[#F5F7FC] p-7 flex flex-col gap-10 min-h-screen">

    <!-- Título da Página -->
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
        <div class="flex items-center gap-2">
            <img src="icons/icone-pedidos-azul.png" alt="Pedidos" class="w-8">
            <h1 class="font-bold text-2xl text-gray-800">Gerenciar Pedidos</h1>
        </div>

        <button routerLink="/admin/pedidos" class="cursor-pointer bg-gray-100 text-gray-600 text-sm flex items-center border border-gray-200 px-6 py-3 rounded-lg font-medium hover:bg-gray-200 transition-all">
            <img src="icons/icone-voltar.png" alt="ícone de voltar" class="w-6">
            Voltar
        </button>
    </div>

    <div class="bg-white rounded-xl shadow-sm overflow-hidden">
        <div class="p-5 border-b flex justify-between items-center bg-gradient-to-r from-blue-50 to-white">
            <div class="flex items-center gap-2">
                <img src="icons/icone-pedidos-azul.png" alt="Mais Vendidos" class="w-6">
                <span class="font-semibold text-gray-800 text-lg">
                    @if (tipo === "hoje") {
                        Pedidos de Hoje
                    } @else {
                        Todos os Pedidos
                    }
                    
                </span>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="w-full text-sm">
                <thead class="bg-gray-50 text-gray-500 uppercase text-xs text-left border-b">
                    <tr>
                        <th class="p-4 font-medium">Id Pedido</th>
                        <th class="p-4 font-medium">Id Usuário</th>
                        <th class="p-4 font-medium">Valor Total</th>
                        <th class="p-4 font-medium">Método de Pagamento</th>
                        <th class="p-4 font-medium">Data Criação</th>
                        <th class="p-4 font-medium">Status</th>
                        <th class="p-4 font-medium text-center">Ações</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100">
                    @for (pedido of listaPedidos; track pedido.id_pedido) {
                        <tr class="hover:bg-gray-50 transition-colors duration-150">
                            <!-- Id Pedido -->
                            <td class="p-4 text-gray-800">
                                #{{ pedido.id_pedido }}
                            </td>

                            <!-- Usuario -->
                            <td class="p-4 text-gray-800">
                                #{{ pedido.id_usuario }}
                            </td>
                            
                            <!-- Valor total -->
                            <td class="p-4 font-semibold text-gray-800">
                                {{ pedido.valor_total | currency:'BRL':'symbol':'1.2-2' }}
                            </td>
                            
                            <!-- Metodo pagamento -->
                            <td class="p-4 font-semibold text-gray-800">
                                {{ formatarMetodoPagamento(pedido.metodo_pagamento) }}
                            </td>
                            

                            <!-- Data criacao -->
                            <td class="p-4 text-gray-800">
                                {{ pedido.data_criacao| date:'dd/MM/yyyy \'-\' HH:mm' }}
                            </td>
                            
                            <!-- Status -->
                            <td class="p-4">
                                <span class="px-2 py-1 rounded-full text-xs font-medium"
                                          [ngClass]="{
                                            'bg-green-100 text-green-700': pedido.status_pedido === 'PAGAMENTO_APROVADO',
                                            'bg-yellow-100 text-yellow-700': pedido.status_pedido === 'AGUARDANDO_PAGAMENTO',
                                            'bg-red-100 text-red-700': pedido.status_pedido === 'CANCELADO'
                                          }">
                                        {{ formatarStatusPedido(pedido.status_pedido) }}
                                </span>
                            </td>

                            <!-- Ações -->
                            <td class="p-4">
                                <div class="relative flex items-center justify-center" (clickOutside)="fecharMenu(pedido.id_pedido)">
                                    <button (click)="toggleMenu(pedido.id_pedido , $event)"
                                            class="cursor-pointer p-1.5 rounded-lg hover:bg-gray-100 transition-colors duration-150"
                                            title="Ações">
                                        <img src="icons/icone-menu.png" alt="Ações" class="w-5">
                                    </button>

                                    @if (menuAbertoId === pedido.id_pedido) {
                                        <div class="absolute right-0 top-full mt-1 w-40 bg-white rounded-xl border border-gray-100 shadow-lg z-[9999] overflow-hidden"
                                            style="position: fixed;"
                                            [style.top.px]="menuPosicao.top"
                                            [style.left.px]="menuPosicao.left">
                                            <button (click)="verDetalhesPedido(pedido.id_pedido); fecharMenu(pedido.id_pedido)"
                                                    class="w-full gap-2.5 px-4 py-2.5 text-sm text-gray-700 hover:bg-gray-50 transition-colors duration-150 cursor-pointer">
                                                Ver Detalhes
                                            </button>

                                            @if (pedido.status_pedido === "AGUARDANDO_PAGAMENTO") {
                                                <div class="border-t border-gray-100"></div>

                                                <button (click)="abrirModalCancelarPedido(pedido.id_pedido); fecharMenu(pedido.id_pedido)"
                                                        class="w-full gap-2.5 px-4 py-2.5 text-sm text-red-600 hover:bg-red-50 transition-colors duration-150 cursor-pointer">
                                                    Cancelar Pedido
                                                </button>
                                            }
                                        </div>
                                    }
                                </div>
                            </td>

                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="7" class="p-12 text-center">
                                <div class="flex flex-col items-center gap-3">
                                    <p class="text-gray-400">Nenhum pedido de hoje encontrado</p>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- Modal Cancelar Pedido -->
@if (modalCancelarPedido) {
    <div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">

        <div class="bg-white rounded-2xl p-8 w-[520px] shadow-lg flex flex-col items-center gap-6">
            <div>
                <img src="icons/icone-alerta.png" class="w-16">
            </div>

            <h2 class="text-2xl font-bold text-[#2C3E66] text-center">
                Tem certeza que deseja cancelar este pedido?
            </h2>

            <p class="text-gray-500 text-center">
                Esta ação irá cancelar o pedido permanentemente do sistema. Essa operação não pode ser desfeita.
            </p>

            @if (mensagemSucesso) {
                <div class="bg-green-100 border border-green-300 text-green-700 px-4 py-2 rounded-lg text-sm">
                    {{ mensagemSucesso }}
                </div>
            }

            @if (mensagemErro) {
                <div class="bg-red-100 border border-red-300 text-red-700 px-4 py-2 rounded-lg text-sm">
                    {{ mensagemErro }}
                </div>
            }

            <div class="flex gap-5">
                <button
                    (click)="fecharModalCancelarPedido()"
                    class="bg-white text-[#334155] border border-[#CDD6E2] rounded-full cursor-pointer px-6 py-3 font-bold hover:bg-[#F8FCFF] hover:text-[#0076D2] hover:border-[#0076D2] transition-all">
                    Cancelar
                </button>

                <button
                    (click)="cancelarPedido(pedidoSelecionadoId!)"
                    class="bg-[#FEE2E2] text-[#EF4444] rounded-full cursor-pointer px-6 py-3 font-bold hover:bg-[#FECACA] transition-all">
                    Sim, cancelar pedido
                </button>
            </div>
        </div>
    </div>
}