<header class="bg-white flex justify-between items-center p-7 border-b border-[#E9ECEF]">
    <button routerLink="/" class="cursor-pointer">
        <img src="images/logo-techmarket.png" alt="Logo TechMarket" class="w-32.5">
    </button>

    <div class="flex items-center">
        <input
            [(ngModel)]="busca"
            (keyup.enter)="pesquisar()"
            type="text" 
            placeholder="O que você procura? (ex: notebook, celular...)"
            class="border border-gray-200 h-10 px-3 rounded-l-lg outline-none w-125"
        >
        <button (click)="pesquisar()" class="bg-[#0076D2] px-3 h-10 rounded-r-lg flex items-center justify-center cursor-pointer hover:bg-[#005fa8] transition-all duration-300">
            <img src="icons/icone-pesquisar-branco.png" alt="ícone de pesquisa" class="w-6">
        </button>
    </div>

    <div class="flex items-center gap-7">
        <button routerLink="/favoritos" class="flex flex-col items-center cursor-pointer text-sm hover:text-[#0076D2] transition-all duration-300">
            <img src="icons/icone-favorito-azul.png" alt="ícone de favorito" class="w-7">
            Favoritos
        </button>

        <button routerLink="/carrinho" class="flex flex-col items-center cursor-pointer text-sm hover:text-[#0076D2] transition-all duration-300">
            <div class="relative">
                <img src="icons/icone-carrinho-azul.png" alt="ícone de carrinho" class="w-7">

                @if (quantidadeCarrinho > 0) {
                    <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs w-5 h-5 flex items-center justify-center rounded-full">
                        {{ quantidadeCarrinho }}
                    </span>
                }
            </div>

            Carrinho
        </button>
    </div>
</header>