<nav class="bg-white flex items-center justify-between p-7 border-b border-[#E9ECEF]">
    <ul>
        <li>
            <button class="group font-bold text-sm cursor-pointer flex items-center gap-2 hover:text-[#0076D2] transition-all duration-300">
                Categorias

                <img src="icons/icone-seta-baixo.png" alt="ícone de seta para baixo" class="w-4 group-hover:hidden">
                <img src="icons/icone-seta-baixo-azul.png" alt="ícone de seta para baixo" class="w-4 hidden group-hover:block">
            </button>
        </li>
    </ul>

    <button class="flex flex-col items-center cursor-pointer text-sm hover:text-[#0076D2] transition-all duration-300">
        <img src="icons/icone-usuario-azul-claro.png" alt="ícone de usuario" class="w-9">
        Meu perfil
    </button>

    <!-- <div routerLink="/auth/cadastro" class="flex items-center gap-2">
        <button class="text-sm font-medium cursor-pointer hover:text-[#0076D2] transition-all duration-300">
            Criar conta
        </button>

        <p>|</p>

        <button routerLink="/auth/login" class="text-sm font-medium cursor-pointer hover:text-[#0076D2] transition-all duration-300">
            Login
        </button>
    </div> -->
</nav>