<nav class="bg-white flex items-center justify-between p-7 shadow-md">
    <ul class="flex items-center gap-7">
        <li>
            <button [routerLink]="['/produtos']" [queryParams]="{ tipo: 'promocao' }" class="text-sm cursor-pointer flex items-center gap-1 hover:text-[#0076D2] transition-all duration-300">
                <img src="icons/icone-promocao.png" alt="ícone de promoção" class="w-6">
                Promoções
            </button>
        </li>

        <li>
            <button [routerLink]="['/produtos']" [queryParams]="{ tipo: 'destaque' }" class="text-sm cursor-pointer flex items-center gap-1 hover:text-[#0076D2] transition-all duration-300">
                <img src="icons/icone-destaque.png" alt="ícone de promoção" class="w-6">
                Destaque
            </button>
        </li>
        
        <li class="relative group">
            <button class="group text-sm cursor-pointer flex items-center gap-2 hover:text-[#0076D2] transition-all duration-300">
                Categorias

                <img src="icons/icone-seta-baixo.png" alt="ícone de seta para baixo" class="w-4 group-hover:hidden">
                <img src="icons/icone-seta-baixo-azul.png" alt="ícone de seta para baixo" class="w-4 hidden group-hover:block">
            </button>

            <!-- Dropdown -->
            <div class="absolute left-0 top-full w-64 p-3 bg-white shadow-lg rounded-xl hidden group-hover:block">
                <ul class="flex flex-col gap-2 text-sm">
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'notebooks' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-notebook.png" alt="ícone de notebook" class="w-7">
                            Notebooks
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'celulares' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-celular.png" alt="ícone de notebook" class="w-7">
                            Celulares
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'computadores' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-computador.png" alt="ícone de notebook" class="w-7">
                            Computadores
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'monitores' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-monitor.png" alt="ícone de notebook" class="w-7">
                            Monitores
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'teclados' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-teclado.png" alt="ícone de notebook" class="w-7">
                            Teclados
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'mouses' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-mouse.png" alt="ícone de notebook" class="w-7">
                            Mouses
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'headsets' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-headset.png" alt="ícone de notebook" class="w-7">
                            Headsets
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'perifericos' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-periferico.png" alt="ícone de notebook" class="w-7">
                            Periféricos
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'webcams' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-webcam.png" alt="ícone de notebook" class="w-7">
                            Webcams
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'componentes' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-componente.png" alt="ícone de notebook" class="w-7">
                            Componentes
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'audio' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-audio.png" alt="ícone de notebook" class="w-7">
                            Áudio
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/produtos']" [queryParams]="{ categoria: 'outros' }" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/categorias/icone-outros.png" alt="ícone de notebook" class="w-7">
                            Outros
                        </button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    @if (usuarioLogado()) {
        <div class="relative group">
            <button class="group text-sm cursor-pointer flex items-center gap-2 hover:text-[#0076D2] transition-all duration-300">
                Meu perfil

                <img src="icons/icone-seta-baixo.png" alt="ícone de seta para baixo" class="w-4 group-hover:hidden">
                <img src="icons/icone-seta-baixo-azul.png" alt="ícone de seta para baixo" class="w-4 hidden group-hover:block">
            </button>

            <!-- Dropdown -->
            <div class="absolute right-0 top-full w-64 p-3 bg-white shadow-lg rounded-xl hidden group-hover:block">
                <ul class="flex flex-col gap-2 text-sm">
                    <li>
                        <button [routerLink]="['/meus-dados']" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/icone-perfil.png" alt="ícone de usuario" class="w-7">
                            Meus Dados
                        </button>
                    </li>
                    <li>
                        <button [routerLink]="['/meus-pedidos']" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-gray-100 hover:text-[#0076D2] transition">
                            <img src="icons/icone-pedidos-azul.png" alt="ícone de notebook" class="w-7">
                            Meus Pedidos
                        </button>
                    </li>
                    <li>
                        <button (click)="fazerLogout()" class="flex items-center gap-2 w-full px-2 py-2 cursor-pointer rounded hover:bg-[#fef2f2] hover:text-[#EF4444] transition">
                            <img src="icons/icone-logout.png" alt="ícone de notebook" class="w-7">
                            Sair
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    } @else {
        <div routerLink="/auth/cadastro" class="flex items-center gap-2">
            <button class="text-sm font-medium cursor-pointer hover:text-[#0076D2] transition-all duration-300">
                Criar conta
            </button>

            <p>|</p>

            <button routerLink="/auth/login" class="text-sm font-medium cursor-pointer hover:text-[#0076D2] transition-all duration-300">
                Login
            </button>
        </div>
    }
</nav>