@if (carregando) {
    <app-carregamento-component />
}

<main class="bg-[#F5F7FC] p-7 min-h-screen">
    
    <div class="bg-white rounded-lg shadow-sm overflow-hidden p-5">
        <div class="flex items-center gap-2 border-b-2 border-[#eef2f6] pb-3">
            <img src="icons/icone-perfil.png" alt="ícone de pagamento" class="w-9">
            <h1 class="font-bold text-2xl">Meus Dados</h1>
        </div>

        <!-- Atualizar Informações Pessoais -->
        <div class="py-6 flex flex-col gap-8">
            <div class="bg-[#F8FAFE] p-5 border border-[#eef2f9] rounded-[15px] flex flex-col gap-5 justify-between">
                <div class="flex items-center gap-2">
                    <img src="icons/icone-dados-conta.png" alt="ícone de pagamento" class="w-7">
                    <h1 class="font-bold text-lg">Informações Pessoais</h1>
                </div>

                <form [formGroup]="formDadosUsuario" (ngSubmit)="atualizarDadosDoUsuario()" class="flex flex-col gap-4">
                    <div class="flex flex-col w-full gap-1">
                        <label for="nome" class="text-[#334155] font-bold text-sm pl-1">Nome Completo</label>
                        <input
                            formControlName="nome"
                            name="nome"
                            type="text"
                            placeholder="Seu nome completo"
                            class="border border-[#E2E8F0] rounded-full py-2 px-4 text-sm transition-all duration-300 focus:border-[#0076D2] focus:ring-3 focus:ring-[#0076D2]/10 focus:outline-none"
                        >
                        @if (submittedAtualizarDados && formDadosUsuario.get('nome')?.errors?.['nomeObrigatorio']) {
                            <span class="text-red-500 text-xs">* Nome é obrigatório</span>
                        }

                        @if (submittedAtualizarDados && formDadosUsuario.get('nome')?.errors?.['nomeMinimo']) {
                            <span class="text-red-500 text-xs">* Nome deve ter no mínimo 3 caracteres</span>
                        }

                        @if (submittedAtualizarDados && formDadosUsuario.get('nome')?.errors?.['nomeMaximo']) {
                            <span class="text-red-500 text-xs">* Nome deve ter no máximo 150 caracteres</span>
                        }
                    </div>

                    <div class="flex flex-col w-full gap-1">
                        <label for="email" class="text-[#334155] font-bold text-sm pl-1">E-mail</label>
                        <input
                            formControlName="email"
                            name="email"
                            type="email"
                            placeholder="exemplo@techmarket.com.br"
                            class="border border-[#E2E8F0] rounded-full py-2 px-4 text-sm transition-all duration-300 focus:border-[#0076D2] focus:ring-3 focus:ring-[#0076D2]/10 focus:outline-none"
                        >
                        @if (submittedAtualizarDados && formDadosUsuario.get('email')?.errors?.['emailObrigatorio']) {
                            <span class="text-red-500 text-xs">* Email é obrigatório</span>
                        }

                        @if (submittedAtualizarDados && formDadosUsuario.get('email')?.errors?.['emailMaximo']) {
                            <span class="text-red-500 text-xs">* Email deve ter no máximo 150 caracteres</span>
                        }

                        @if (submittedAtualizarDados && formDadosUsuario.get('email')?.errors?.['emailInvalido']) {
                            <span class="text-red-500 text-xs">* Email inválido</span>
                        }
                    </div>

                    <div class="flex flex-col w-full gap-1">
                        <label for="cpf" class="text-[#334155] font-bold text-sm pl-1">CPF</label>
                        <input
                            formControlName="cpf"
                            name="cpf"
                            type="text"
                            placeholder="000.000.000-00"
                            mask="000.000.000-00"
                            class="border border-[#E2E8F0] rounded-full py-2 px-4 text-sm transition-all duration-300 focus:border-[#0076D2] focus:ring-3 focus:ring-[#0076D2]/10 focus:outline-none"
                        >
                        @if (submittedAtualizarDados && formDadosUsuario.get('cpf')?.errors?.['cpfObrigatorio']) {
                            <span class="text-red-500 text-xs">* CPF é obrigatório</span>
                        }

                        @if (submittedAtualizarDados && formDadosUsuario.get('cpf')?.errors?.['cpfFormatoInvalido']) {
                            <span class="text-red-500 text-xs">* CPF deve seguir o formato 000.000.000-00</span>
                        }
                    </div>

                    @if (mensagemSucessoAtualizarDados) {
                        <div class="bg-green-100 border border-green-300 text-green-700 px-4 py-2 rounded-lg text-sm">
                            {{ mensagemSucessoAtualizarDados }}
                        </div>
                    }

                    @if (mensagemErroAtualizarDados) {
                        <div class="bg-red-100 border border-red-300 text-red-700 px-4 py-2 rounded-lg text-sm">
                            {{ mensagemErroAtualizarDados }}
                        </div>
                    }

                    <div>
                        <button type="submit" class="bg-[#0076D2] flex items-center justify-center gap-2 text-white font-bold text-sm rounded-full px-7 py-3 cursor-pointer hover:bg-[#005fa8] transition-all">
                            Atualizar Dados
                        </button>
                    </div>
                </form>
            </div>

            <!-- Atualizar Senha -->
            <div class="bg-[#F8FAFE] p-5 border border-[#eef2f9] rounded-[15px] flex flex-col gap-5 justify-between">
                <div class="flex items-center gap-2">
                    <img src="icons/icone-senha.png" alt="ícone de pagamento" class="w-7">
                    <h1 class="font-bold text-lg">Alteração de senha</h1>
                </div>

                <form [formGroup]="formSenha" (ngSubmit)="atualizarSenhaDoUsuario()" class="flex flex-col gap-4">
                    <div class="flex flex-col w-full gap-1">
                        <label for="senha" class="text-[#334155] font-bold text-sm">Senha Atual</label>

                        <div class="relative w-full">
                            <input
                                formControlName="senhaAtual"
                                name="senha"
                                [type]="mostrarSenhaAtual ? 'text' : 'password'"
                                placeholder="••••••••"
                                class="border border-[#E2E8F0] rounded-full py-2 px-4 pr-12 text-sm
                                    transition-all duration-300 
                                    focus:border-[#0076D2] focus:ring-3 focus:ring-[#0076D2]/10 focus:outline-none
                                    w-full"
                            >

                            @if (!mostrarSenhaAtual) {
                                <button type="button" (click)="toggleSenhaAtual()" class="group absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer">
                                    <img src="icons/icone-invisivel-cinza.png" class="w-5 group-hover:hidden">
                                    <img src="icons/icone-invisivel-azul.png" class="w-5 hidden group-hover:block">
                                </button>
                            } @else {
                                <button type="button" (click)="toggleSenhaAtual()" class="group absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer">
                                    <img src="icons/icone-visivel-cinza.png" class="w-5 group-hover:hidden">
                                    <img src="icons/icone-visivel-azul.png" class="w-5 hidden group-hover:block">
                                </button>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('senhaAtual')?.errors?.['senhaAtualObrigatoria']) {
                                <span class="text-red-500 text-xs">* Senha é obrigatória</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('senhaAtual')?.errors?.['senhaAtualMinimo']) {
                                <span class="text-red-500 text-xs">* Senha deve ter no mínimo 6 caracteres</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('senhaAtual')?.errors?.['senhaAtualMaximo']) {
                                <span class="text-red-500 text-xs">* Senha deve ter no máximo 150 caracteres</span>
                            }
                        </div>
                    </div>

                    <div class="flex flex-col w-full gap-1">
                        <label for="senha" class="text-[#334155] font-bold text-sm">Nova Senha</label>

                        <div class="relative w-full">
                            <input
                                formControlName="novaSenha"
                                name="senha"
                                [type]="mostrarNovaSenha ? 'text' : 'password'"
                                placeholder="Mínimo 6 caracteres"
                                class="border border-[#E2E8F0] rounded-full py-2 px-4 pr-12 text-sm
                                    transition-all duration-300 
                                    focus:border-[#0076D2] focus:ring-3 focus:ring-[#0076D2]/10 focus:outline-none
                                    w-full"
                            >

                            @if (!mostrarNovaSenha) {
                                <button type="button" (click)="toggleNovaSenha()" class="group absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer">
                                    <img src="icons/icone-invisivel-cinza.png" class="w-5 group-hover:hidden">
                                    <img src="icons/icone-invisivel-azul.png" class="w-5 hidden group-hover:block">
                                </button>
                            } @else {
                                <button type="button" (click)="toggleNovaSenha()" class="group absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer">
                                    <img src="icons/icone-visivel-cinza.png" class="w-5 group-hover:hidden">
                                    <img src="icons/icone-visivel-azul.png" class="w-5 hidden group-hover:block">
                                </button>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('novaSenha')?.errors?.['novaSenhaObrigatoria']) {
                                <span class="text-red-500 text-xs">* Senha é obrigatória</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('novaSenha')?.errors?.['novaSenhaMinimo']) {
                                <span class="text-red-500 text-xs">* Senha deve ter no mínimo 6 caracteres</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('novaSenha')?.errors?.['novaSenhaMaximo']) {
                                <span class="text-red-500 text-xs">* Senha deve ter no máximo 150 caracteres</span>
                            }
                        </div>
                    </div>

                    <div class="flex flex-col w-full gap-1">
                        <label for="senha" class="text-[#334155] font-bold text-sm">Confirmar Nova Senha</label>

                        <div class="relative w-full">
                            <input
                                formControlName="confirmarSenha"
                                name="senha"
                                type="password"
                                placeholder="Confirmar nova senha"
                                class="border border-[#E2E8F0] rounded-full py-2 px-4 pr-12 text-sm
                                    transition-all duration-300 
                                    focus:border-[#0076D2] focus:ring-3 focus:ring-[#0076D2]/10 focus:outline-none
                                    w-full"
                            >

                            @if (submittedAtualizarSenha && formSenha.get('confirmarSenha')?.errors?.['confirmarSenhaObrigatoria']) {
                                <span class="text-red-500 text-xs">* Senha é obrigatória</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('confirmarSenha')?.errors?.['confirmarSenhaMinimo']) {
                                <span class="text-red-500 text-xs">* Senha deve ter no mínimo 6 caracteres</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.get('confirmarSenha')?.errors?.['confirmarSenhaMaximo']) {
                                <span class="text-red-500 text-xs">* Senha deve ter no máximo 100 caracteres</span>
                            }

                            @if (submittedAtualizarSenha && formSenha.errors?.['senhaDiferente']) {
                                <span class="text-red-500 text-xs">* As senhas não coincidem</span>
                            }
                        </div>
                    </div>

                    @if (mensagemSucessoAtualizarSenha) {
                        <div class="bg-green-100 border border-green-300 text-green-700 px-4 py-2 rounded-lg text-sm">
                            {{ mensagemSucessoAtualizarSenha }}
                        </div>
                    }

                    @if (mensagemErroAtualizarSenha) {
                        <div class="bg-red-100 border border-red-300 text-red-700 px-4 py-2 rounded-lg text-sm">
                            {{ mensagemErroAtualizarSenha }}
                        </div>
                    }

                    <div>
                        <button type="submit" class="bg-[#0076D2] flex items-center justify-center gap-2 text-white font-bold text-sm rounded-full px-7 py-3 cursor-pointer hover:bg-[#005fa8] transition-all">
                            Alterar senha
                        </button>
                    </div>
                </form>
            </div>

            <!-- Deletar Conta -->
            <div class="bg-[#FFFBFB] p-5 border border-[#FFE2E2] rounded-[15px] flex flex-col gap-5 justify-between">
                <div class="flex items-center gap-2">
                    <img src="icons/icone-remover-vermelho.png" alt="ícone de pagamento" class="w-7">
                    <h1 class="font-bold text-lg text-[#EF4444]">Zona de risco</h1>
                </div>

                <p class="text-[#4B5563] text-sm">Ao excluir sua conta, todos os seus dados serão removidos permanentemente. Essa ação não pode ser desfeita.</p>

                <div>
                    <button (click)="abrirModalDeletarConta()" class="bg-[#FEE2E2] flex items-center justify-center gap-2 text-[#EF4444] font-bold text-sm rounded-full px-7 py-3 cursor-pointer hover:bg-[#FECACA] transition-all">
                        Deletar minha conta
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
@if (modalDeletarConta) {
    <div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">

        <div class="bg-white rounded-2xl p-8 w-[520px] shadow-lg flex flex-col items-center gap-6">
            <div>
                <img src="icons/icone-alerta.png" class="w-16">
            </div>

            <h2 class="text-2xl font-bold text-[#2C3E66]">
                Tem certeza?
            </h2>

            <p class="text-gray-500 text-center">
                Todos os seus dados (nome, e-mail, CPF, histórico) serão apagados permanentemente.
            </p>

            @if (mensagemSucessoDeletarConta) {
                <div class="bg-green-100 border border-green-300 text-green-700 px-4 py-2 rounded-lg text-sm">
                    {{ mensagemSucessoDeletarConta }}
                </div>
            }

            @if (mensagemErroDeletarConta) {
                <div class="bg-red-100 border border-red-300 text-red-700 px-4 py-2 rounded-lg text-sm">
                    {{ mensagemErroDeletarConta }}
                </div>
            }

            <div class="flex gap-5">
                <button
                    (click)="fecharModalDeletarConta()"
                    class="bg-white text-[#334155] border border-[#CDD6E2] rounded-full cursor-pointer px-6 py-3 font-bold hover:bg-[#F8FCFF] hover:text-[#0076D2] hover:border-[#0076D2] transition-all">
                    Cancelar
                </button>

                <button
                    (click)="deletarConta()"
                    class="bg-[#FEE2E2] text-[#EF4444] rounded-full cursor-pointer px-6 py-3 font-bold hover:bg-[#FECACA] transition-all">
                    Sim, deletar conta
                </button>
            </div>
        </div>

    </div>
}