<nav class="bg-white flex items-center p-7 shadow-sm">
    <ul>
        <li>
            <button class="group font-bold text-sm cursor-pointer flex items-center gap-2 hover:text-[#0076D2] transition-all duration-300">
                Categorias

                <img src="icons/icone-seta-baixo.png" alt="ícone de seta para baixo" class="w-4 group-hover:hidden">
                <img src="icons/icone-seta-baixo-azul.png" alt="ícone de seta para baixo" class="w-4 hidden group-hover:block">
            </button>
        </li>
    </ul>
</nav>